<div class="container">
    <div class="row margin-left-20px">
        <div class="col-md-3" id="user-section">
            <div>

            <%= image_tag @user.photo(:small), class: "img-responsive" %>

            </div>
            <div id="user-info">
                <p><strong>Name: </strong><span class="pull-right"><%= @user.first_name %> <%= @user.last_name %></span></p>
                <p><strong>City: </strong><span class="pull-right"><%= @user.current_city %></span></p>
                <p><strong>Joined: </strong><span class="pull-right"><%= @user.created_at.strftime("%b. %d, %Y") %></span></p>
            </div>

            <div id="user-edit" style="display: none;">
                <%= form_for(@user, :html => { :multipart => true }) do |f|  %>
                <p class="edit-user-field"><strong>First Name: </strong>
                    <%= f.text_field :first_name, class: "form-control input-sm" %></p>
                <p class="edit-user-field"><strong>Last Name: </strong>
                    <%= f.text_field :last_name, class: "form-control input-sm"%></p>
                <p class="edit-user-field"><strong>City: </strong>
                    <%= f.text_field :current_city, class: "form-control input-sm" %></p>
                <p class="edit-user-field"><strong>Profile Image: </strong>
                    <%= f.file_field :photo, class: "input-sm" %></p>
                <footer class="pull-right">
                    <%= button_tag "Reset", type: :reset %>
                    <%= f.submit "Save", class: "btn btn-primary btn-sm" %>
                </footer>
                <div class="clearfix"></div>
                <% end  %>
            </div>
            <button id="user-edit-button" class="btn-default btn-block btn">Edit Profile</button>
        </div>

        <%= link_to "New Post", "#new-post-modal", "data-toggle" => "modal", :class => "link pull-left" "btn-block"%>
        <!--One Post-->
        
        <div class="col-md-8">
        <% @user.posts.each do |post|  %>
            <% @city = City.find(post.city_id) %>

            <div class="row">
                <div class="col-md-12 user-post">
                    <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
                        <h4 class="user-post-header"><%= post.title %></h4>
                    </a>
                    <p class="user-post-text"><%= post.post_text %></p>

                    <textarea class="form-control edit-post-text-area" style="display: none;"><%= post.post_text %></textarea>
                    <footer>
                        <span>Post by <%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user) %> for <%= link_to "#{@city.name}", city_path(@city)%> </span>
                        <div class="post-button pull-right">
                            <%= link_to "Delete", delete_post_path(user_id: @user.id, id: post.id), 
                                method: :delete, class: "btn btn-sm btn-danger" %>
                        </div>
                        <div class="post-button pull-right">
                            <button id="post-edit-button" class="btn btn-sm btn-default">Edit</button>
                        </div>
                    </footer>
                </div>
            </div>
        <% end  %>
            
            
        </div>
        <!--/One Post-->
    </div>
</div>
