<div class="container">
    <div class="row margin-left-20px">
        <div class="col-md-3" id="user-section">
            <div>
               <%= image_tag @user.photo(:small), class: "img-responsive center-block" %>
            </div>
            <div id="user-info">
                <p><strong>Name: </strong><span class="pull-right"><%= @user.first_name %> <%= @user.last_name %></span></p>
                <p><strong>City: </strong><span class="pull-right"><%= @user.current_city %></span></p>
                <p><strong>Joined: </strong><span class="pull-right"><%= @user.created_at.strftime("%b. %d, %Y") %></span></p>
                <p class="no-margin-no-padding"><strong>Posted In: </strong></p>
                <div class="list-unstyled text-right">
                    <% @posted_cities.each do |f| %>
                        <li class="align-right"><%= link_to f.name, f %></li>
                    <% end %>
                </div>
            </div>

            <div id="user-edit" style="display: none;">
                <%= form_for(@user, :html => { :multipart => true }) do |f|  %>
                <p class="edit-user-field"><strong>First Name: </strong>
                    <%= f.text_field :first_name, class: "form-control input-sm" %></p>
                <p class="edit-user-field"><strong>Last Name: </strong>
                    <%= f.text_field :last_name, class: "form-control input-sm"%></p>
                <p class="edit-user-field"><strong>City: </strong>
                    <%= f.text_field :current_city, class: "form-control input-sm" %></p>
                <p class="edit-user-field"><strong>Profile Image: </strong>
                    <%= f.file_field :photo, class: "input-sm" %></p>
                <footer class="pull-right">
                    <%= button_tag "Reset", type: :reset, class: "btn btn-sm btn-default" %>
                    <%= f.submit "Save", class: "btn btn-primary btn-sm" %>
                </footer>
                <div class="clearfix"></div>
                <% end  %>
            </div>
            <% if @user === current_user %>
                <button id="user-edit-button" class="btn-default btn-block btn">Edit Profile</button>
            <% end %>
            <% if @user === current_user %>
            <%= link_to "New Post", "#new-post-modal", "data-toggle" => "modal", :class => "btn-success btn-block btn"%>
            <% end %>
        </div>

        
        
        <div class="col-md-8">

        <!--One Post-->
            <% @posts.each do |post|  %>
            <% @city = City.find(post.city_id) %>
            <div class="row">
                <div class="col-md-10 user-post">
                    <div class="user-post-info">
                        <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
                            <h4 class="user-post-header"><%= post.title %></h4>
                        </a>
                        <p class="user-post-text truncated"><%= post.post_text.truncate(150) %></p>
                    </div>

                    <div class="edit-post-text-form" style="display: none;">
                    <%= form_for(post, :url => update_user_post_path(@user, post)) do |f| %>
                        <label>Title: </label>
                        <%= f.text_field :title, class: "user-post-header form-control edit-post-text-area" %>
                         <label>Post: </label>
                        <%= f.text_area :post_text, class: "form-control edit-post-text-area" %>
                        <%= f.submit 'Save', class: "custom-btn btn btn-sm btn-success pull-right" %>
                         <%= button_tag "Reset", type: :reset, class: "custom-btn btn btn-sm btn-default pull-right" %>
                    <% end  %>
                    </div>

                    <footer class="post-footer">
                        <span>Posted: <%= time_ago_in_words(post.created_at) %> ago<br> by <%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user) %> for <%= link_to "#{@city.name}", city_path(@city)%> </span>

                        <% if @user === current_user %>
                            <div class="post-button pull-right">
                                <%= link_to "Delete", delete_post_path(user_id: @user.id, id: post.id), 
                                    method: :delete, class: "btn btn-sm btn-danger" %>
                            </div>
                            <div class="post-button pull-right">
                                <button class="post-edit-button btn btn-sm btn-default">Edit</button>
                            </div>
                        <% end %>
                    </footer>
                </div>
            </div>
        <% end  %>
            
        </div>
        <!--/One Post-->
    </div>
       <!--Pagination-->
        <div class="row text-center">
            <div class="pagination-footer">
                <%= will_paginate @posts %>
            </div>
        </div>
</div>
