<div class="container">
	<div class="row margin-left-20px">
		<div class="col-md-3" id="user-section">
			<div>
  				<%= image_tag @user.photo(:small), class: "img-responsive center-block" %>
 			</div>
			<div id="user-info">
				<p><strong>Name: </strong><span class="pull-right"><%= @user.first_name %> <%= @user.last_name %></span></p>
				<p><strong>City: </strong><span class="pull-right"><%= @user.current_city %></span></p>
				<p><strong>Joined: </strong><span class="pull-right"><%= @user.created_at.strftime("%b. %d, %Y") %></span></p>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12 user-post col-md-offset-1">
					<h4 class="user-post-header"><%= @post.title %></h4>
					<p class="user-post-text truncated"><%= @post.post_text %></p>
					<footer>
						<span>Posted: <%= time_ago_in_words(@post.created_at) %> ago<br> by <%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user) %> for <%= link_to "#{@city.name}", city_path(@city)%> </span>
					</footer>
				</div>
			</div>			
		</div>
	</div>
</div>