<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 photo-container">
			<%= image_tag(@city.image_url, :class => "cover-photo img-responsive", :id => "#{@city.name}") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 show-container">
			<h2 class="explore-text"> Explore Tips from <%= @city.name %>! </h2>
			<% if current_user %>
				<%= link_to "New Post", "#new-post-modal", "data-toggle" => "modal", :class => "link pull-right" %>
			<% end %>
		</div>
	</div>
	<% @posts.each do |post| %>
		<% user = User.find(post.user_id)%>
		<div class="row">
			<div class="col-md-12 blog-comment">
				<div class="row">
					<div class="col-md-3" id="user-section">
						<div>
			  			<%= image_tag user.photo(:small), class: "img-responsive" %>
			 			</div>
					</div>
					<div class="col-md-8 user-post">
						<a href="/users/<%= user.id %>/posts/<%= post.id %>">
							<h4 class="user-post-header"><%= post.title %></h4>
						</a>
						<p class="user-post-text truncated"><%= post.post_text.truncate(150) %></p>
						<footer>
							<span>Posted: <%= time_ago_in_words(post.created_at) %> ago<br> by <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %> for <%= link_to "#{@city.name}", city_path(@city)%> </span>
						</footer>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

