<!DOCTYPE html>
<html>
  <head>
    <title>ProjectVagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1> Trekkster </h1>
  	<%= link_to "Sign In" %>
  	<%= link_to "Sign Up" %>
    <%= yield %>
  </body>
</html>
