<!DOCTYPE html>
<html>
  <head>
    <title>ProjectVagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class="container-fluid cities-page">
      <div class="row">
        <div class="col-md-12">
        	<header> <h1>Trekkster</h1>
          <% if current_user %>
            <%= link_to "Log Out", login_path, method: :delete, :class => "link pull-right" %>
            <%= link_to "Profile", user_path(current_user), :class => "link pull-right" %>
          <% else %>
          	<%= link_to "Sign In", "#login-modal", "data-toggle" => "modal", :class => "link pull-right" %> 
            <%= link_to "Sign Up", "#sign-up-modal", "data-toggle" => "modal", :class => "link pull-right" %>
          <% end %>
          <%= link_to "Home", root_path, :class => "link pull-right" %>
          </header>
        </div>
      </div>
    </div>
    
    <%= yield %>
    <%= render "users/new" %>
    <%= render "sessions/new" %>
    <%= render "posts/new" %>
  </body>
</html>
